*{
    margin: 0;
    padding: auto; 
}
body{
    min-height: 100vh;
    background:url(background1.png) no-repeat ;

    

}
header{
    background-color: #4d4d4d93;
    color: rgb(255, 255, 255);
    padding: 6px;
    text-align: center;
    position: relative;
}
.logo{
    color: rgb(255, 255, 255);
    padding-left: 90px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
nav a{
    color: #ffffff;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 10px;
    padding-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f2f2f2;
    text-decoration: none;
}

li{
    margin: 0 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    text-decoration: none;
    
}
.icons{
    font-size: 2.2rem;
    right: 5%;
    color: #ffffff;
    cursor: pointer;
    display: none;
    position: absolute;
}

.main{
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
}
.hero{
    margin: 0;
    padding: 0;

    background-size: cover;
    position: relative;
    width: 100%;
    height: 135vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
    
}
.content0{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    height: 300px;
    
    
}

h2{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 20px;

}
p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 35px;
 
}
button{
    width: 700px;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 77, 77);
    cursor: pointer;
    justify-content: space-around;
    padding: 20px;
}
.wedo{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
}
.header{
    
    color: rgb(82, 82, 82);
    padding: 30px;
    text-align: center;
    position: relative;
}
.header h1{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 30px;
 
}
.header p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #646464;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 30px;
}
.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    height: 300px;
    
}
.results{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    background-image: url(background.png);
    
}

.header1{
    color: rgb(5, 5, 5);
    padding: 50px;
    text-align: center;
    position: relative;
}

.header1 h1{
    font-size: 40px;
    font-weight: 800;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 30px;
} 
.header1 p{
    font-size: 15px;
    font-weight: 100;
    color: #f2f2f2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 20px;
}
.contents1{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    height: 50%;
    

}
.contents1 img{
    margin: 0;
    width: 150px;
    justify-content: space-between;
    padding: 30px;
}
.contact{
    margin: 0;
    padding: 0;
    height: 80vh;
    justify-content: center;
    flex-direction: column;

}
.header2{
    color: rgb(5, 5, 5);
    padding: 50px;
    text-align: center;
    position: relative;
}

.header2 h1{
    font-size: 40px;
    font-weight: 800;
    color: rgb(80, 80, 80);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 10px;
}
form{
    margin: 0;
    padding: 0;
    display: flex;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.sbutton{
    width: 20%;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: rgb(245, 77, 77);
    cursor: pointer;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.input{
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1rem;
    
}
footer{
    margin: 0;
    padding: 50px;
    text-align: center;
    background-color: rgb(11, 33, 59);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 992px){
    .header{
        padding: 1.2rem 5%;
    }
}
@media (max-width: 760px){
    .icons{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background: #64646463;
    }
    nav a{
        display: block;
        font-size: 1rem;
        margin: 1.3rem 0;
        text-align: center;
    }
}